body {
  background-color: rgb(94, 94, 0);
}
.header {
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.current {
  background-color: yellow;
}

.buttonList {
  background-color: yellow;
}

.container {
  background-color: yellow;
}
